.bfr-card-wrapper {
  border: 1px solid @color-border;
  padding: @padding-md;
  background: #fff;

  .bfr-card-title {
    position: relative;
    padding: 0 @margin-sm;
    .title-prefix {
      width: 4px;
      display: block;
      height: 20px;
      background: @color-primary;
      position: absolute;
      left: 0px;
      top: 4px;
    }

    .title-content {
      height: 28px;
      font-size: 20px;
      font-weight: 600;
      color: #333333;
      line-height: 28px;
      margin-left: 8px;
    }

    .title-tool-bar {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .bfr-card-body {
    margin-top: 12px;
  }
}
